h1 {
    background-color: rgb(92, 189, 105);text-align: center;
    }
    h2{
        color:rgb(113, 156, 78);text-align: center;
    }
    body {
    
        background-color: rgb(138, 192, 133);text-align: center;
        margin:0%
    
    }
    p {
        font-size: 20px;
    }